[submodule "AXI4"]
	path = AXI4
	url = ../OSVVM/AXI4.git
[submodule "Scripts"]
	path = Scripts
	url = ../OSVVM/OSVVM-Scripts.git
[submodule "UART"]
	path = UART
	url = ../OSVVM/UART.git
[submodule "Common"]
	path = Common
	url = ../OSVVM/OSVVM-Common.git
