Scripts/results/*
!Scripts/results/README.md
Scripts/logs/*
Scripts/VHDL_LIBS
Scripts/modelsim.ini
Scripts/vsim.wlf
Scripts/dataset.*
Scripts/library.cfg
Scripts/compile
sim
#sim/*
sim_*
#sim_*/*
#Docs
#Docs/*
UART/plan
#UART/plan/*

# for Sphinx documentation
docs/**/*.*
!docs/**/*.rst
!docs/conf.py
!docs/requirements.txt
!docs/make.bat
