[submodule "AXI4"]
	path = AXI4
	url = ../AXI4.git
[submodule "Scripts"]
	path = Scripts
	url = ../OSVVM-Scripts.git
[submodule "UART"]
	path = UART
	url = ../UART.git
[submodule "Common"]
	path = Common
	url = ../OSVVM-Common.git
